@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900,900i');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700');

$font-page2: 'Fira Sans', sans-serif;
$font-page: 'Roboto', sans-serif;


body{
    font-size: 16px;
    font-family: $font-page;
}
a:hover{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
}


