

body, html{
    overflow-x: hidden;
}
.container{
    padding: 0;
  
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

// COMPONENTS

// Navbar
.primary-header{
    .primary-header_logo{
        padding-top: 40px;
        h1{
            text-shadow: 0 2px 6px rgba(0, 0, 0, 1);
            font-family: $font-page;
            font-size: 20px;
            color: #fff;
            span{
                font-family: $font-page2;
                font-size: 48px;
                color: $color-logo;
                text-transform: uppercase;
            }
        }
    }
    .primary-header_navigation{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 34px;
        ul{
            li{
                border-bottom: 2px solid $color-arr-hov;
            }
            a{
                color: #000;
                font-weight: 600;
                line-height: 100%;
                font-size: 20px;
                font-family: $font-page;
                text-transform: uppercase;
            }
        }
    }
}
@media (min-width: 768px){
    .primary-header{
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
        position: absolute;
        display: flex;
        justify-content: space-between;
        .primary-header_navigation{
            ul{
                li{
                    border-bottom: none;
                }
                li:first-child {
                    padding-right: 23px;              
                    border-right: 2px solid #fff; 
                }
                a{
                    padding-left: 23px; 
                    font-weight: 300;
                    font-size: 30px;
                } 
            }
        }
    }
}


.nav-btn{
    border: 1px solid #000;
    margin-top: 20px;
    border-radius: 18px;
    padding: 16px 50px;
    background: #fff;
    font-weight: 600;
    color: $color-btn1;
    line-height: 50%;
    font-size: 18px;
}

.banner_mobile{
    img{
        width: 100vw;
    }  
}





