.popup-window{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    display: none;
    background: rgba(48, 99, 238, .5);
    &__wrapper{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__window{
        position: relative;
        margin: auto;
        width: 600px;
        background: $bg-popup;
        padding: 50px 30px;
        flex-shrink: 1;
    }
    &__close-btn{
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #000;
        border-radius: 50%;
        background: #fff;
        width: 30px;
        height: 30px;
        cursor: pointer;
        svg{
            width: 55%;
        }
        
    }
    &__form{
        form{
            input{
                display: block;
                padding: 15px;
                width: 100%;
                margin: 10px 0;
                color: #fff;
                font-size: 13px;
                
            }
            input:focus{
                border: 2px solid $col-active;
            }
            .popup-window__input{
                background: transparent;
                border: 2px solid #fff;
            }
            [type="submit"]{
                background: $bg-submit;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                cursor: pointer;
                border: none;
            }
        }
    }

}